$black: #181818;
$purple: #4452FE;
$white: #FFFFFF;
$blue: #02E4C0;

// First block

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    background-color: $black;
}

.container {
    max-width: 1200px;
}

.navbar {
    background-color: $black;
    color: $white;
}

.nav__button {
    padding: 10px 32px;
    border: 1px solid $white;
    color: $white;
    margin-left: 15vw;
    position: relative;
    transition: .2s ease-out;
    ;

    &:hover {
        color: $black;
        text-decoration: none;
        background-color: $white;
    }
}

.nav-link {

    position: relative;

    &::before {
        content: "";
        bottom: 0;
        left: 0;
        position: absolute;
        width: 0;
        height: 1px;
        background-color: $white;
        transition: .2s;
    }

    &:hover::before {
        width: 100%;
    }

    &:hover {
        color: $white;
    }

}

.content__text {
    max-width: 80vw;
    width: 100%;
    text-align: center;
    margin-top: 25vh;
    margin-bottom: 15vh;
}

.title {
    font-size: 8vh;
    color: $white;
    font-weight: 600;
    max-width: 80vw;
    width: 100%;
}

.subtitle {
    font-size: 2.5vh;
    color: $white;
    font-weight: 400;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.content__buttons {
    margin: 0 auto;
    text-align: center;
}

.content__btn-try {
    padding: 16px 28px;
    border: 1px solid $purple;
    color: $purple;
    transition: .2s ease-out;

    &:hover {
        text-decoration: none;
        color: $white;
        background-color: $purple;
    }
}

.content__btn-learn {
    padding: 16px 26px;
    border: 1px solid $white;
    color: $white;
    transition: .2s ease-out;

    &:hover {
        text-decoration: none;
        color: $purple;
        background-color: $white;
    }
}

.contetn__img {

    margin: 0 auto;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.chat {
    margin: 0 auto;
    width: 75%;
}



.chat__bot {
    width: 75%;
    margin: 0 auto;
}

.chat__bot-features {
    margin-top: 10%;
}

.features {
    padding-top: 25vh;

    .title {
        font-weight: 400;
        text-align: center;
        margin-bottom: 5vh;
    }

    .subtitle {
        text-align: center;
        max-width: 600px;
        width: 100%;
        margin-bottom: 25vh;
    }
}

.feature__title {
    color: $white;
    font-weight: 600;
    margin-bottom: 2vh;
}

.feature__subtitle {
    margin-bottom: 8vh;
    font-size: 12px;
    max-width: 300px;
    width: 100%;
}

.feat {
    display: grid;
    grid-template-columns: 25px 200px;
}

.icon {
    color: $blue;
}

.feature {
    color: $white;
}

// Media

@media screen and (max-width: 992px) {

    .content__text {
        max-width: 80vw;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-top: 12vh;
        margin-bottom: 7vh;
    }

    .top__button {
        margin-bottom: 15px;
    }

    .nav__button {
        margin-left: 0;
    }

    .collapse {
        padding-bottom: 18px;
    }

    .chat__bot-features {
        display: flex;
        justify-content: center;
    }

    .blc {
        max-width: 50%;
        margin: auto;
        margin-right: 5vh;
        margin-left: 5vh;
    }

}

@media screen and (max-width: 790px) {

    .chat__bot-features {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 33% 33% 33%;
    }

    .blc {
        margin: auto;
    }

}


@media screen and (max-width: 768px) {

    .title {
        font-size: 7vh;
    }

    .subtitle {
        font-size: 2vh;
    }

}

@media screen and (max-width: 576px) {

    .title {
        font-size: 5.5vh;
    }

    .chat {
        display: none;
    }

    .feature__title {
        font-size: 2vh;
    }

    .feature__subtitle {
        font-size: 1.5vh;
    }

}

@media screen and (max-width: 430px) {

    .content__text {
        max-width: 80vw;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-top: 12vh;
        margin-bottom: 7vh;
    }


    .features {
        padding: 0;

        .title {
            margin: 0;
        }

        .subtitle {
            margin-bottom: 5vh;
        }
    }

}